* {
    box-sizing: border-box;
}

/* BODY */
body {
    margin: 0;
    padding: 0;
    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 375px;
}

/* HEADERS */
.join-head, .subscribe-head, .benefits-head {
    font-size: 1.2rem;
    font-weight: 700;
}

/* BOXES */
.box {
    padding: 15px 25px;
    max-width: 330px;
    margin: auto;
}

.join.box {
    background-color: white;
    margin-top: 30px;
    border-radius: 8px 8px 0px 0px;
}

.subscribe.box {
    background-color: hsl(179, 62%, 43%);
}

.benefits.box {
    background-color: hsl(179, 46%, 52%);
    border-radius: 0px 0px 8px 8px;
}

